<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.smu.cs.mungnyang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/stamp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecordAniActivity"></activity>
        <activity android:name=".RecordChangeActivity" />
        <activity android:name=".SignChangeActivity" />
        <activity
            android:name=".StampActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar_SelectedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TodayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignlogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>